body {
    margin: 0;
}

ul{
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
    font-family: 'Bodoni URW';
    margin-left: 50px;
}


        /* 全スライド共通スタイル */
        .swiper-slide {
            width: 100%;
            height: 100%;
            text-align: center;
            line-height: 250px;
        }

        .swiper-slide img {
            width: 100%;
        }
        /* Swiperの親要素 */
        .swiper-parent {
            position: relative;
        }

        /* Swiper本体 */
        .swiper-container {
            width: 100%; /* ☆前・次ページボタンの幅をそれぞれ50pxとして、その分を引く */
            padding-bottom: 50px; /* ★ページネーション・スクロールバー分の余白50pxを下に取る */
            box-sizing: content-box;
        }

        /* 前・次スライドボタンの縦位置調整（スライドの高さの中央に合わせる） */
        .swiper-button-prev, .swiper-button-next {
            top: calc((100% - 50px) * 0.5); /* ☆★ページネーション・スクロールバー（50px）を除く縦位置の中央（＝スライドの高さの中央）に一旦配置 */
            margin-top: -22px; /* ★ボタンの高さ（44px）の半分のネガティブマージンで上に少しずらす */
        }

        #swipertitle {
           position: relative;
           bottom: 700px;
           left: 300px;
           z-index: 999;
        }

.main {
    display: flex;
    flex-direction: row;
}
.outerbox {
    display: flex;
    justify-content: center;
}

#inner1 {
    width: 50%;
    margin-left: 200px;
}


.box1 {
    width: 700px;
    height: 272px;
    background-color: #f5f0e9;

}

.box2 {
    width: 700px;
    height: 272px;
    background-color:  #e2e2e2;
    position: relative;
    left: 32px;
    bottom: 300px;
    z-index: 1;

}

#inner2 {
   width: 30%;
}