@charset "UTF-8";
html {
    width: 100%;
    font-size: 65.2%; /*=>10px*/
    font-family: '小塚ゴシック Pr6N';
    
}

a {
    text-decoration: none;
    color: black;
}

/*-------------------------------*/

header {
    background-color: #f6f7f9;
    height: 800px;
    padding: 20px 25px;
}

.contacts {
    width: 1530px;
    min-width:100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}


main {
    height: 400px;
}
.cover-img {
    background-image: url(../img/mainbg.png);
    background-position: center;
    background-size: cover;
}


.contactaddress a{
    font-size: 2rem;
    color: #f74d95;
}

.receptiontime {
    text-align: right;
    font-size: 1.6rem;
}




.mainvisualwrapper {
    width: auto;
    display: flex;
    justify-content: center;
    margin: 0 105px 0 230px;

}



.textouter::before {
    content: url(../img/Exceed\ Your\ Potencial.png);
    position: relative;
    top: 80px;
    right: 150px;
}
.textouter {
    width: 800px;
    height: 300px;
    vertical-align: center;
    z-index: 100;
}

/*最短最速～申し込みボタンまで*/

.text1 {
    font-family: '小塚ゴシック Pr6N';
    font-size: 3.75rem;
    color:#f74d95;
}

#EYP {
    margin-bottom: 25px;
}

.text2 {
    font-size: 10.5rem;
    
}

.text3 {
    font-size: 2.3rem;
}

#lasttext {
    font-size: 2.75rem;
    color: #f74d95;
    font-weight: bold;
    margin: 30px 0 25px 20px;
}

 .bottunwrapper {
    display: flex;
}

.applicationbtninner {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.applicationbtninner-text {
    font-size: 2.5rem;
    color: #ffffff;
    position: relative;
    left: 50px;
    bottom: 55px;
}

.roundbtn {
    height: 169px;
    position: relative;
    top: 400px;
    right: 280px;

}

.Satisfaction {
    font-size: 2.4rem;
    color: #ffffff;
    position: relative;
    bottom: 150px;
    left: 48px;
}

.numbers {
    position: relative;
    bottom: 150px;
    left: 30px;
}

.percentage {
    position: relative;
    bottom: 150px;
    left: 10px;
}

.modelimage {
    position: relative;
    right: 200px;
 
}


.decoretionimg::before {
    content: url(../img/WhyEYP.png);
    position: relative;
    left: 45%;
    bottom: 30px;
}

.decoretionimg h1 {
    font-size: 4.37rem;
    color: #5d5d5d;
    text-align: center;
}

.subtext {
    font-size: 2.4rem;
    color: #f74d95;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    transform:rotate(10deg);
    position: relative;
    bottom: 800px;
    left: 400px;
}
.btn {
    display: flex;
    justify-content: center;
    margin-left: 50px;
}

.item {
    margin-left: 50px;
}

.textwrapper{

    position: relative;
    right: 5px;
    bottom: 180px;
}

.textwrapper p{
    font-size: 3rem;
    color: #ffffff;
    text-align: center;

}

span {
    color: #ffffff;
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 2rem;
}

.textwrapper p:last-child {
    display: inline-block;
    padding-left: 40px;

}

@media screen and (min-width: 1280px){
    .contacts {
        width: 757px;
    }

    /*最短最速～申し込みボタンまで*/


    .subtext {
        font-size: 2em;
        color: #f74d95;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        transform:rotate(10deg);
        position: relative;
        bottom: 800px;
        left: 390px;
    }

}


