body {
    margin: 0;
    background-color: #f6f7f9;
}
.mainvisual {
    
    width: 100%;
    height: 800px;
}

main {
    background-image: url(../img/bg.png);
    width: 100%;
    height: 400px;
}

.mainvisual {
    display: flex;
    justify-content: space-around;
}

#contact a{
    font-family: '小塚ゴシック Pr6N';
    font-size: 30px;
    font-weight: bold;
    color: #f74d95;
    text-decoration: none;
}